<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedReview?.ImageUrl}}"  class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedReview?.ReviewTitle}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <p>{{selectedReview?.ReviewContent}}</p>
  </div>
</div>

