<header>
        <nav>
           <div class="tab">
                <a class="tab-home" routerLink="/">
                    <i class="large material-icons">home</i>
                    <span>TRANG CHỦ</span>
                </a>
                <a class="tab-author" href="review.html">
                    <i class="large material-icons">create</i>
                    <span>THẢO LUẬN</span>
                </a>
                <a class="tab-ranking" href="ranking.html">
                    <i class="large material-icons">equalizer</i>
                    <span>BẢNG XẾP HẠNG</span>
                </a>
                <a class="tab-author" href="category.html">
                    <i class="material-icons">view_list</i>
                    <span>THỂ LOẠI</span>
                </a>
                <a id="showSidebar" class="tab-menu" href="#" (click)="_auth.login()" *ngIf="!_auth.authenticated()">
                    <i class="material-icons">person_outline</i>
                    <span>ĐĂNG NHẬP</span>
                </a>
                <a id="showSidebar" class="tab-menu" routerLink="/profile" *ngIf="_auth.authenticated()">
                    <i class="large material-icons">person</i>
                    <span>TÀI KHOẢN</span> 
                </a>
           </div>
        </nav>
    </header>

    <div class="wrapper">

      <router-outlet></router-outlet>

    </div><!-- /.container -->
    <footer>
        <div>@2016 | Linh Ho</div>
    </footer>

