<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Nhà giả kim</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
           <div class="tab">
                <a class="tab-home" href="book-info.html">
                    <i class="material-icons">arrow_back</i>
                    <span>QUAY LẠI</span>
                </a>
                <a class="tab-home" href="book-info.html">
                    <i class="material-icons">text_format</i>
                    <span>FONT LỚN</span>
                </a>
                <a class="tab-home" href="book-info.html">
                    <i class="material-icons">format_bold</i>
                    <span>CHỮ ĐẬM</span>
                </a>
                <a class="tab-home" href="book-info.html">
                    <i class="material-icons">format_color_fill</i>
                    <span>NỀN TỐI</span>
                </a>
                <a id="showSidebar" class="tab-menu" href="login.html">
                    <i class="material-icons">lightbulb_outline</i>
                    <span>TỰ ĐỘNG</span>
                </a>    
           </div>
        </nav>
    </header>
    <div class="wrapper">
   
        <div class="chap">
            <h1>Nhà Giả kim</h1>
            <h2>Chap 1 - Vào truyện</h2>
            <div class="chap-content">
                <p>“Nhà luyện kim đan cầm lấy quyển sách mà một người trong đoàn lữ hành mang theo. Quyển sách đã cũ và long gáy nhưng ông vẫn đọc được tên tác giả : Oscar Wilde. Mở ra đọc, ông thấy có một câu chuyện về hoa thủy tiên. Dĩ nhiên, ông không lạ gì truyền thuyết về chàng Narziss xinh trai, ngày ngày soi mặt trên hồ nước để tự chiêm ngưỡng sắc đẹp của mình. Chàng say mê chính mình đến nỗi một ngày kia nghiêng quá đà, ngã xuống hồ và chết đuối. Thế là từ nơi đó mọc lên một bông hoa đẹp, mang tên chàng Narziss nọ. Nhưng Oscar Wilde không kết thúc câu chuyện như thế mà kể rằng sau khi chàng chết, những nàng tiên trong rừng hiện ra, thấy hồ nước ngọt kia giờ đã biến thành một đầm lầy mặn vì nước mắt.</p>
                <p>“Vì sao em khóc ?” – các nàng tiên hỏi.</p>
                <p>“Vì em thương tiếc chàng Narziss”, hồ nước đáp.</p>
                <p>“Phải rồi. Các chị chẳng ngạc nhiên tí nào. Và tuy tất cả chúng ta đều theo đuổi chàng nhưng chỉ mình em được chiêm ngưỡng sắc đẹp tuyệt vời ấy”.</p> 
                <p>“Chàng xinh trai đến thế ư ?”, hồ nước ngơ ngác hỏi.</p>
                <p>“Còn ai biết điều này rõ hơn là em chứ ?” – các nàng tiên ngạc nhiên – “ngày nào mà chàng chẳng cúi người soi mình trên mặt hồ”.</p>
                <p>Nghe thế, hồ nước im lăng hồi lâu rồi mới đáp : “Đúng là em khóc chàng Narziss, nhưng em chưa bao giờ để ý rằng chàng đẹp trai đến thế. Em khóc chàng vì mỗi lần chàng soi người trên mặt hồ thì em mới thấy được sắc đẹp của chính em hiện lên rõ trong đôi mắt chàng”.</p>
                <p>“Quả là một câu chuyện tuyệt vời”, nhà luyện kim đan nói.”</p>
            </div>
            <h1>Nhà Giả kim</h1>
            <h2>Chap 2 - Lời mở đầu</h2>
            <div class="chap-content">
                <p>“Nhà luyện kim đan cầm lấy quyển sách mà một người trong đoàn lữ hành mang theo. Quyển sách đã cũ và long gáy nhưng ông vẫn đọc được tên tác giả : Oscar Wilde. Mở ra đọc, ông thấy có một câu chuyện về hoa thủy tiên. Dĩ nhiên, ông không lạ gì truyền thuyết về chàng Narziss xinh trai, ngày ngày soi mặt trên hồ nước để tự chiêm ngưỡng sắc đẹp của mình. Chàng say mê chính mình đến nỗi một ngày kia nghiêng quá đà, ngã xuống hồ và chết đuối. Thế là từ nơi đó mọc lên một bông hoa đẹp, mang tên chàng Narziss nọ. Nhưng Oscar Wilde không kết thúc câu chuyện như thế mà kể rằng sau khi chàng chết, những nàng tiên trong rừng hiện ra, thấy hồ nước ngọt kia giờ đã biến thành một đầm lầy mặn vì nước mắt.</p>
                <p>“Vì sao em khóc ?” – các nàng tiên hỏi.</p>
                <p>“Vì em thương tiếc chàng Narziss”, hồ nước đáp.</p>
                <p>“Phải rồi. Các chị chẳng ngạc nhiên tí nào. Và tuy tất cả chúng ta đều theo đuổi chàng nhưng chỉ mình em được chiêm ngưỡng sắc đẹp tuyệt vời ấy”.</p> 
                <p>“Chàng xinh trai đến thế ư ?”, hồ nước ngơ ngác hỏi.</p>
                <p>“Còn ai biết điều này rõ hơn là em chứ ?” – các nàng tiên ngạc nhiên – “ngày nào mà chàng chẳng cúi người soi mình trên mặt hồ”.</p>
                <p>Nghe thế, hồ nước im lăng hồi lâu rồi mới đáp : “Đúng là em khóc chàng Narziss, nhưng em chưa bao giờ để ý rằng chàng đẹp trai đến thế. Em khóc chàng vì mỗi lần chàng soi người trên mặt hồ thì em mới thấy được sắc đẹp của chính em hiện lên rõ trong đôi mắt chàng”.</p>
                <p>“Quả là một câu chuyện tuyệt vời”, nhà luyện kim đan nói.”</p>
            </div>
            
        </div>
        
    
    </div>
    <footer>
        <div>@2016 | Linh Ho</div>
    </footer>
</body>
</html>
