<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Bài review</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
           <div class="tab">
                <a class="tab-home" href="index.html">
                    <i class="large material-icons">home</i>
                    <span>TRANG CHỦ</span>
                </a>
                <a class="tab-author" href="review.html">
                    <i class="large material-icons">create</i>
                    <span>THẢO LUẬN</span>
                </a>
                <a class="tab-ranking" href="ranking.html">
                    <i class="large material-icons">equalizer</i>
                    <span>BẢNG XẾP HẠNG</span>
                </a>
                <a class="tab-author" href="category.html">
                    <i class="material-icons">view_list</i>
                    <span>THỂ LOẠI</span>
                </a>
                <a id="showSidebar" class="tab-menu" href="index.html">
                    <i class="large material-icons">person</i>
                    <span>TÀI KHOẢN</span>
                </a>    
           </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="page-name">
            <h1><i class="large material-icons">create</i></h1>
            <h1>Thảo luận</h1>
        </div>
        <div class="search-form">
            <input type="text" placeholder="Tìm kiếm...">
            <a href="#!"><i class="material-icons">search</i></a>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim">
            </div>
            <div class="card-review-info">
                <h1>Tiêu đề bài review</h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim">
            </div>
            <div class="card-review-info">
                <h1>Tiêu đề bài review</h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim">
            </div>
            <div class="card-review-info">
                <h1>Tiêu đề bài review</h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim">
            </div>
            <div class="card-review-info">
                <h1>Tiêu đề bài review</h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
    
    </div>
    <footer>
        <div>@2016 | Linh Ho</div>
    </footer>
</body>
</html>
