<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Nhà giả kim</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
           <div class="tab">
                <a class="tab-home" href="index.html">
                    <i class="large material-icons">home</i>
                    <span>TRANG CHỦ</span>
                </a>
                <a class="tab-author" href="review.html">
                    <i class="large material-icons">create</i>
                    <span>THẢO LUẬN</span>
                </a>
                <a class="tab-ranking" href="ranking.html">
                    <i class="large material-icons">equalizer</i>
                    <span>BẢNG XẾP HẠNG</span>
                </a>
                <a class="tab-author" href="category.html">
                    <i class="material-icons">view_list</i>
                    <span>THỂ LOẠI</span>
                </a>
                <a id="showSidebar" class="tab-menu" href="login.html">
                    <i class="large material-icons">person</i>
                    <span>TÀI KHOẢN</span>
                </a>    
           </div>
        </nav>
    </header>
    <div class="wrapper">
    
        <div class="review-content">
            <div class="review-thumb">
                <img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim">
            </div>
            <div>
                <h1 class="title">
                    <a href="#!">Tiêu đề bài review</a>
                </h1>
                <span class="info">
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <p>Có lẽ Len không nên nói nhiều về cuốn sách gần như được xem là kinh thánh của những ước mơ như ” Nhà Giả Kim”. Bởi mỗi người, bằng những cảm nhận khác nhau, sẽ tự tìm cho mình kho báu, như chàng chăn cừu Santiago ở cuối cuộc hành trình.</p>

                <img src="smock/Nha_gia_kim_review.jpg" alt="Nhà giả kim">

                <p>Tất cả những gì Len cảm thấy và tin tưởng, sau khi đọc Nhà Giả Kim, đó là khi ta đã có một ước mơ, và quyết định mang theo nó trong tim và bước tới, thì cả thế giới dường như sẽ mở cửa đón ta. Ta sẽ không bao giờ phải hối tiếc. Nhà Giả Kim khẳng định rằng, mọi ước mơ hoàn toàn có thể trở thành hiện thực, nếu ta chọn lựa cách theo đuổi chúng, ngay cả khi tất cả mọi người đều nói rằng không thể. Hãy lắng nghe những chỉ dẫn của trái tim mình.
                Hãy ước mơ đi! Và hãy bước tới.</p>
            </div>
        </div>
        
    
    </div>
    <footer>
        <div>@2016 | Linh Ho</div>
    </footer>
</body>
</html>
