<div class="profile">
      <img class="thumbnail" src="{{profile.picture}}" alt="{{profile.name}}">
      <h1><i class="material-icons">email</i> {{profile.name}}</h1>
      <div class="action">
        <a class="logout" routerLink="" (click)="_auth.logout()"><i class="material-icons">exit_to_app</i>Đăng xuất</a>
      </div>
      
</div>
<ul class="book-profile">
    <h1><i class="material-icons">visibility</i> Sách theo dõi</h1>
    <li>
        <a href="#!">Nhà giả kim</a>
    </li>
    <li>
        <a href="#!">Totto-chan</a>
    </li>
    <li>
        <a href="#!">Thần mộ</a>
    </li>
    <li>
        <a href="#!">Nhà giả kim</a>
    </li>
</ul>
<ul class="book-profile">
    <h1><i class="material-icons">book</i> Sách đã đăng</h1>
    <li>
        <a href="#!">Nhà giả kim</a>
    </li>
    <li>
        <a href="#!">Totto-chan</a>
    </li>
    <li>
        <a href="#!">Thần mộ</a>
    </li>
    <li>
        <a href="#!">Nhà giả kim</a>
    </li>
    <li>
        <a href="#!">Totto-chan</a>
    </li>
    <li>
        <a href="#!">Thần mộ</a>
    </li>
</ul>
<ul class="book-profile">
    <h1><i class="material-icons">create</i> Thảo luận đã đăng</h1>
    <li>
        <a href="#!">Thần mộ</a>
    </li>
    <li>
        <a href="#!">Nhà giả kim</a>
    </li>
    <li>
        <a href="#!">Totto-chan</a>
    </li>
    <li>
        <a href="#!">Thần mộ</a>
    </li>
</ul> 
