<div class="page-name">
    <h1><i class="large material-icons">equalizer</i></h1>
    <h1>Bảng xếp hạng</h1>
</div>
<ul class="ranking-form">
    <h1><i class="material-icons">book</i> Xếp hạng sách</h1>
    <li *ngFor="let story of storiesRank; let i = index">
        <span>{{i+1}} </span><a routerLink="/sach/{{story.Slug}}">{{story.StoryName}}</a>
    </li>
</ul>
<ul class="ranking-form">
    <h1><i class="material-icons">create</i> Xếp hạng bài review</h1>
     <li *ngFor="let review of reviewsRank; let i = index">
        <span>{{i+1}} </span><a routerLink="/thao-luan/{{review.Slug}}">{{review.ReviewTitle}}</a>
    </li>
    
</ul>
<ul class="ranking-form">
    <h1><i class="material-icons">people</i> Xếp hạng thành viên</h1>
    <li>
        <span>1 </span><a href="#!">Linh Ho</a>
    </li>
    <li>
        <span>2 </span><a href="#!">Quan Ho</a>
    </li>
    <li>
        <span>3 </span><a href="#!">Đông Phương Bất Bại</a>
    </li>
    <li>
        <span>4 </span><a href="#!">Khanh Nguyen</a>
    </li>
    <li>
        <span>5 </span><a href="#!">Thuan Nguyen</a>
    </li>
    <li>
        <span>6 </span><a href="#!">Hung Hoang</a>
    </li>
    <li>
        <span>7 </span><a href="#!">Ba con sói</a>
    </li>
    <li>
        <span>8 </span><a href="#!">Cuong Nguyen</a>
    </li>
    <li>
        <span>9 </span><a href="#!">Thần Nam</a>
    </li>
    <li>
        <span>10 </span><a href="#!">Tiểu Vũ</a>
    </li>
</ul> 