<div class="page-name">
            <h1><i class="large material-icons">create</i></h1>
            <h1>Thảo luận</h1>
        </div>
        <div class="search-form">
            <input type="text" placeholder="Tìm kiếm...">
            <a href="#!"><i class="material-icons">search</i></a>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <a href="review-content.html"><img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim"></a>
            </div>
            <div class="card-review-info">
                <h1><a href="review-content.html">Tiêu đề bài review</a></h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <a href="review-content.html"><img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim"></a>
            </div>
            <div class="card-review-info">
                <h1><a href="review-content.html">Tiêu đề bài review</a></h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <a href="review-content.html"><img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim"></a>
            </div>
            <div class="card-review-info">
                <h1><a href="review-content.html">Tiêu đề bài review</a></h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>
        
        <div class="card-review">
            <div class="card-thumb">
                <a href="review-content.html"><img src="smock/Nha_gia_kim_review.jpg" alt="nhà giả kim"></a>
            </div>
            <div class="card-review-info">
                <h1><a href="review-content.html">Tiêu đề bài review</a></h1>
                <span>
                    <a href="#!"> Đông phương bất bại</a> | 20/10/2016
                
                </span>
                <span>Đoạn mô tả nội dung bài reveiw. Nó chỉ dài khoảng 2 đoạn văn...</span>
            </div>
        </div>