<div class="page-name">
            <h1><i class="large material-icons">create</i></h1>
            <h1>Thảo luận</h1>
        </div>
        <div class="search-form">
            <input type="text" placeholder="Tìm kiếm...">
            <a href="#!"><i class="material-icons">search</i></a>
        </div>

 <div class="results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="throttle"
       (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()">

            <div class="card-review" *ngFor="let review of reviews">
            <div class="card-thumb">
                <a href="review-content.html"><img src="{{review.ImageUrl}}" alt="nhà giả kim"></a>
            </div>
            <div class="card-review-info">
                <h1><a href="review-content.html">{{review.ReviewTitle}}</a></h1>
                <span>
                    <a href="#!"> {{review.UserId}}</a> | {{review.CreatedDate}}
                
                </span>
                <span>{{review.ReviewContent}}</span>
            </div>
        </div>
</div>       
 

