<form class="form-input" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" id="ReviewTitle" class="form-control" formControlName="ReviewTitle" placeholder="Tiêu đề">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="Image" placeholder="Ảnh tiêu biểu" #imageUrl>
  </div>
  <div class="form-group">
    <input type="file" name="pic" accept="image/*">
  </div>
  <div class="img">
    <img [src]="imageUrl.value">
  </div>
  <div class="form-group">
    <label for="ReviewContent">Content</label>
    <textarea rows="10" cols="80" id="ReviewContent" class="form-control" formControlName="ReviewContent"></textarea>
  </div>
  <div class="action">
      <button type="submit">Thêm mới</button>
      <a class="cancel" (click)="onCancel()">Hủy bỏ</a>
  </div>
</form>
