<form class="form-input" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <!--THE STORY -->
  <fieldset>
    <legend>Thêm truyện</legend>
    <!--Story Name -->
    <div class="form-group">
      <input type="text" id="StoryName" class="form-control" formControlName="StoryName" [(ngModel)]="storyName" placeholder="Tên truyện">
    </div>
    <!--Story Image -->
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
    <button type="button" (click)="upload()">Upload</button>
    <input type="hidden" id="Image" class="form-control" formControlName="Image" value="{{imageName}}"
      [(ngModel)]="imageName">
    <img *ngIf="imageName" [src]="imageName">
    <!--Story Description -->
    <div class="form-group">
      <!--<label for="StoryDescription">Mô tả Truyện </label>
            <textarea          
            rows="10" 
            cols="80"
            id="StoryDescription"
            class="form-control"
            formControlName="StoryDescription"></textarea>-->
      <ckeditor name="StoryDescription" id="StoryDescription" formControlName="StoryDescription">
      </ckeditor>
    </div>
  </fieldset>
  <!--THE AUTHOR -->
  <fieldset>
    <legend>Thêm tác giả</legend>
    <select formControlName="Author">
      <option *ngFor="let author of authors" [ngValue]="author">
        {{author.AuthorName}}
      </option>
    </select>
  </fieldset>
  <!--THE GENRE -->
  <!--Genre Name -->
  <fieldset>
    <label for="GenreName">Thêm thể loại</label>
    <select formArrayName="Genres">
          <option *ngFor="let genre of genres" [ngValue]="genre">
            {{genre.GenreName}}
          </option>
    </select>
  </fieldset>
  <div class="action">
    <button type="submit" class="btn btn-success">Lưu sách và thêm chương</button>
    <a [routerLink]="" (click)="onCancel()">Cancel</a>
  </div>
  <!--THE CHAPTER -->
  <!--routerLink="/sach/:id/them-chap"-->
</form>
