 <form [formGroup]="chapForm" (ngSubmit)="onSubmit()" >
<h2>Thêm chương thứ {{chapNumber}}</h2>
      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-success">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div> 
    <!--ADD CHAPTER -->          
     <!-- Chapter Title-->     
        <label for="ChapterTitle">Tên chương</label>
          <input
            type="text"
            id="ChapterTitle"
            class="form-control"
            formControlName="ChapterTitle">

       <input
            type="hidden"
            id="StoryId"
            class="form-control"
            formControlName="StoryId" [(ngModel)]="storyId">

         <input
            type="hidden"
            id="ChapterNumber"
            class="form-control"
            formControlName="ChapterNumber" [(ngModel)]="chapNumber">
          
      <!--CHAPTER CONTENT-->   
         
      <label for="ChapterContent">Nội dung Chương </label>

      <div class="form-group">
              <ckeditor
              name="ChapterContent" 
              id="ChapterContent"
              formControlName="ChapterContent">
            </ckeditor>
  </div>       

   </form>