<!--
Author: Linh Ho
-->
<div class="book-info" *ngFor="let book of bookInfo">
    <img [src]="book.Image" alt="{{book.StoryName}}">
    <h1>{{book.StoryName}}</h1>
    <div class="download-ebook">
        <a href="#!">Download Ebook</a>
        <a href="#!">Download PDF</a>
    </div>
    <button class="download-ebook" (click)="deleteBook(book); $event.stopPropagation()">Xoá truyện</button>
    <div [innerHTML]="book.StoryDescription"></div>
</div>
<div class="list-chap">
    <div class="search-form search-chap">
        <input type="text" placeholder="Tìm kiếm chap...">
        <a href="#!"><i class="material-icons">search</i></a>
    </div>
    <ul
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()">
        <li *ngFor="let chap of listChap">Chap {{chap.ChapterNumber}} - <a routerLink="{{chap.ChapterNumber}}">{{chap.ChapterTitle}}</a></li>
    </ul>
</div>