<!--
Author: Linh Ho
-->
<header>
    <nav>
        <div class="tab">
            <a class="tab-home" routerLink="/sach/{{slug}}">
                <i class="material-icons">arrow_back</i>
                <span>QUAY LẠI</span>
            </a>
            <a class="tab-home" href="book-info.html">
                <i class="material-icons">text_format</i>
                <span>FONT LỚN</span>
            </a>
            <a class="tab-home" href="book-info.html">
                <i class="material-icons">format_bold</i>
                <span>CHỮ ĐẬM</span>
            </a>
            <a class="tab-home" href="book-info.html">
                <i class="material-icons">format_color_fill</i>
                <span>NỀN TỐI</span>
            </a>
            <a id="showSidebar" class="tab-menu" href="login.html">
                <i class="material-icons">lightbulb_outline</i>
                <span>TỰ ĐỘNG</span>
            </a>    
        </div>
    </nav>
</header>

<div class="results"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
    <div class="chap" *ngFor="let chap of chaps">
    <h1>Tên sách</h1>
    <h2>Chap {{chap.ChapterNumber}} - {{chap.ChapterTitle}}</h2>
    <div class="chap-content">
        <span [innerHTML]="chap.ChapterContent"></span>
    </div>  
</div>
</div>