<div class="page-name">
    <h1><i class="large material-icons">view_list</i></h1>
    <h1>Thể loại</h1>
</div>

<div class="search-form">
    <input type="text" placeholder="Tìm kiếm...">
    <a href="#!"><i class="material-icons">search</i></a>
</div>
<div class="create-item">
  <a class="create-book" href="#!"><i class="large material-icons">note_add</i></a>
</div>
<template ngFor let-story="$implicit" [ngForOf]="stories" let-i="index">
    <div class="card" *ngIf="i<10">
        <div class="card-thumb">
        <a routerLink="/sach/{{story.Slug}}"><img class="thumb" src="assets/smock/images/{{story.ImageUrl}}" alt=""></a>
        </div>
        <h1><a routerLink="/sach/{{story.Slug}}">Nhà giả kim</a></h1>
        <h2>15/12/2016 | 10/10</h2>
    </div>      
</template>