<div class="page-name">
    <h1><i class="large material-icons">view_list</i></h1>
    <h1>Thể loại</h1>
</div>

<div class="search-form">
    <input type="text" placeholder="Tìm kiếm...">
    <a href="#!"><i class="material-icons">search</i></a>
</div>

<div class="card">
    <div class="card-thumb">
        <a href="book-info.html"><img class="thumb" src="assets/smock/images/Nha_gia_kim.jpg" alt="nhà giả kim"></a>
    </div>
    
    <h1><a href="">Nhà giả kim</a></h1>
    <h2>15/12/2016 | 10/10</h2>
</div>
<div class="card">
    <div class="card-thumb">
        <a href="book-info.html"><img class="thumb" src="assets/smock/images/smock/totto-chan.jpg" alt="Tot-to-chan"></a>
    </div>
    
    <h1><a href="">Totto-chan</a></h1>
    <h2>15/12/2016 | 10/10</h2>
    
</div>
<div class="card">
    <div class="card-thumb">
        <a href="book-info.html"><img class="thumb" src="assets/smock/images/smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
    </div>
    
    <h1><a href="">Giết con chim nhại</a></h1>
    <h2>15/12/2016 | 10/10</h2>
    
</div>
<div class="card">
    <div class="card-thumb">
        <a href="book-info.html"><img class="thumb" src="assets/smock/images/smock/giet_con_chim_nhai.jpg" alt="Giết con chim nhại"></a>
    </div>
    
    <h1><a href="">Giết con chim nhại</a></h1>
    <h2>15/12/2016 | 10/10</h2>
    
</div>